
body{
    background-image: url('Images/pexels-cottonbro-8720267.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        font-family: 'Rubik Pixels', sans-serif;
    color: greenyellow !important;
    font
        

}
h1{
    color: greenyellow;
}



    







 /* .rubik-pixels-regular {
    font-family: "Rubik Pixels", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .sixtyfour-convergence-sky {
    font-family: "Sixtyfour Convergence", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }
 